body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body,
#root {
  min-height: 100%;
  height: 100%;
}

.App {
  min-height: 100%;
  background-color: #e6ecf0;
  height: auto;
}

.Error {
  background-color: #ffc4c4;
  font-size: 20px;
  text-align: center;
}

body {
  font-family: "Lato", sans-serif;
  color: #424242;
}

::-webkit-scrollbar {
  display: none;
}

p {
  display: inherit;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.Actions div {
  margin-left: auto;
  cursor: pointer;
  padding: 0 5px 0 5px;
  user-select: none;
}

.Actions div:hover {
  color: #ff7029;
}

.Messages {
  max-width: 855px;
  min-width: 350px;
  display: grid;
  grid-template-rows: auto auto;
  overflow-x: hidden;
}

.Hide {
  display: none;
}

.Display {
  display: block;
}

.MessageContainer:last-child {
  border-bottom: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Footer {
  height: 50px;
  padding: 30px 20px 20px 20px;
}

.Actions {
  display: grid;
  grid-template-columns: auto 70px;
  text-align: right;
}

.MessageContainer {
  background-color: white;
  border-bottom: 1px solid #dedede;
}

.MessageFooter {
  display: grid;
  grid-template-columns: auto auto;
}

.MessageContent {
  padding: 15px 30px 20px 30px;
  letter-spacing: 0.02em;
  line-height: 22px;
  word-break: break-word;
}

.MessageFooter {
  padding: 0 30px 15px 30px;
  font-size: 12px;
  color: #636f7b;
}

.Send {
  background-color: #fff1e9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #dedede;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

input {
  border: 1px solid #dedede;
  height: 36px;
  text-indent: 10px;
  width: 100%;
  border-radius: 10px;
  font: 400 14px Lato;
  letter-spacing: 0.5px;
}

#coverInput {
  position: absolute;
  margin: 12px 0px 0px 11px;
  font: 400 14px Lato;
  letter-spacing: 0.5px;
}

input:focus {
  border-radius: 10px;
  border: 2px solid #ffc3a5;
  outline: none;
  height: 34px;
}

input::placeholder {
  color: #ff7472;
}

input:focus::placeholder {
  color: #c3c3c3;
}

.Editing {
  font-size: 12px;
  padding: 6px 0px 0px 5px;
  color: #636f7b;
}

.loader {
  font-size: 10px;
  margin: auto;
  text-indent: -9999em;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #a2a2a2;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.slide-out-right {
  -webkit-animation: slide-out-blurred-right 0.8s ease-out both;
  animation: slide-out-blurred-right 0.8s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-8-28 19:21:31
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-blurred-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
    transform: translateX(1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
    transform: translateX(1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}

@media only screen and (min-width: 854px) {
  .Messages {
    margin: auto;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */

  input {
    font: 400 16px Lato;
  }

  #coverInput {
    font: 400 16px Lato;
  }
}
